@charset "UTF-8";
/* Reset some default styles */
body {
    margin-top: 5%;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Style the heading */
.heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style the table */
.table-container {
    width: 80%;
    margin: 0 auto;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.table th {
    background-color: #333;
    color: #fff;
}

.ud {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ud:hover {
    background-color: rgb(0, 128, 255);
}

/* Style the buttons */
.button-container {
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}

.edit-button, .update-button, .delete-button, .show-button{
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
}

.edit-button {
    background-color: #3498db;
    color: #fff;
    
}

.update-button {
    background-color: #27ae60;
    color: #fff;
}


.delete-button {
    background-color: #e74c3c;
    color: #fff;
}
.show-button {
    background-color: rgb(255, 255, 128);
    color: #fff;
    text-decoration: none;
}
.responsive-table tbody td a {
  text-decoration: none;
}
