<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>conCustomer.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chooseEventServlet</servlet-name>
    <servlet-class>ChooseEvent.chooseEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chooseEventServlet</servlet-name>
    <url-pattern>/chooseEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>conCustomer.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>geteventDetailsServlet</servlet-name>
    <servlet-class>ChooseEvent.geteventDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>geteventDetailsServlet</servlet-name>
    <url-pattern>/geteventDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateEventServlet</display-name>
    <servlet-name>UpdateEventServlet</servlet-name>
    <servlet-class>ChooseEvent.UpdateEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEventServlet</servlet-name>
    <url-pattern>/UpdateEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteEventServlet</servlet-name>
    <servlet-class>ChooseEvent.DeleteEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEventServlet</servlet-name>
    <url-pattern>/DeleteEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createeventservlet</display-name>
    <servlet-name>createeventservlet</servlet-name>
    <servlet-class>musicalShow_Shehani.createeventservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createeventservlet</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>get_budget</servlet-name>
    <servlet-class>budget_Sahan.budgetget</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>get_budget</servlet-name>
    <url-pattern>/pass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>budgetInsertServlet</display-name>
    <servlet-name>budgetInsertServlet</servlet-name>
    <servlet-class>budget_Sahan.budgetInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>budgetInsertServlet</servlet-name>
    <url-pattern>/budgetInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassTabletoUpdateServlet</display-name>
    <servlet-name>PassTabletoUpdateServlet</servlet-name>
    <servlet-class>budget_Sahan.PassTabletoUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassTabletoUpdateServlet</servlet-name>
    <url-pattern>/PassTabletoUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showServlet</servlet-name>
    <servlet-class>musicalShow_Shehani.showServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showServlet</servlet-name>
    <url-pattern>/showServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetDetailsForUpdateServlet</servlet-name>
    <servlet-class>musicalShow_Shehani.GetDetailsForUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDetailsForUpdateServlet</servlet-name>
    <url-pattern>/GetDetailsForUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteShowServlet</servlet-name>
    <servlet-class>musicalShow_Shehani.deleteShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteShowServlet</servlet-name>
    <url-pattern>/deleteShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateDataServlet</servlet-name>
    <servlet-class>musicalShow_Shehani.UpdateDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDataServlet</servlet-name>
    <url-pattern>/UpdateDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
   
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>conCustomer.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
</web-app>